# Example template file for the SCM Analyze
#
# ------------------------
# Rules on component level
# ------------------------
#
#Count the number of change sets in the component.
#component.changeSetCount()
#
#Evaluate the name of the component.
component.name
#
# Evaluate the owner of the component. If the owner is a team, the project area will be evaluated that contains this team. 
component.owner
#
# ------------------------
# Rules on change set level
# ------------------------
#
# Evaluate the creation date of the change set.
component->changeSet.creationdate
#
# Count the number of files in the change set.
#component->changeSet.fileCount()
#
# Evaluate the change set id.
component->changeSet.id
#
# Evaluate the owner of the change set.
component->changeset.owner
#
# ------------------------
# Rules on file level
# ------------------------
#
# Execute the content type analyse of the prevent binary server extension.
component->changeSet->file.contenttype
#
# Evaluate if the file would be restricted by the prevent binary server extension. The configuration file for the prevent binary extension is needed.
component->changeSet->file.restricted
#
# Evaluate the file name.
component->changeSet->file.name
#
# Evaluate the file size.
component->changeSet->file.size
#
# Evaluate the file type. For this rule the file type are the symbols after the last dot.
component->changeSet->file.type